/*
    main css designed for media screens 900px and up
    media queries for smaller screens @ bottom
*/

#smallNavBar {
    display: none;
}

#aboutMe {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    padding-left: 10px;
    font-weight: bold;
}

#nameOnNav, .troyName {
    color: white;
    float: right;
    font-family: 'Montserrat', sans-serif;
}

#navBar {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    height: 100%;
    
}

#insertContainer {
    background-color: white;
    height: 80%;
    width: 60%;
    float: left;
    border-radius: 25px;
    box-shadow: 5px 10px;
}

p {
    margin-bottom: 0;
}

#imgContainer {
    margin: 7px;
    padding-right: 10px;
}

#bottomBar {
    border-top: 5px solid lightblue;
}

/* Dropdown Button */

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 20px;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: lightblue;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: lightblue;
}

.round{
    border-radius: 20px;
}

/* customized css for medium screens up to 768px  */

@media screen and (max-width: 768px) {
    .jumbotron {
        width: 690px;
    }
    #insertContainer {
        width: 600px;
    }
    #navBar {
        display: none;
    }
    #nameOnNav {
        display: block;
    }
    #smallNavBar {
        display: block;
    }
}

/* customized css for xs screens up to 400px  */

@media screen and (max-width: 400px) {
    .jumbotron {
        width: 370px;
    }
    #insertContainer {
        width: 320px;
    }
    #imgContainer {
        margin: 7px;
        padding-right: 10px;
    }
    #aboutMe {
        font-size: 3em;
    }
    #pic {
        height: 150px;
        width: 150px;
    }
}